.header {
  max-height: $nav-height;
  box-shadow: $shadow-regular;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1000;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: $nav-height;
    margin: 0 auto;
    @include respond(desktop) {
      width: 90%;
    }
  }
  &__logo {
  }
  &__selectors {
    display: flex;
    margin-left: auto;
    @include respond(phone) {
      display: none;
    }
    & > div {
      height: $nav-height;
      display: flex;
      align-items: center;
      min-width: 120px;
      @include respond(phone) {
        margin-bottom: 20px;
      }
    }
    & > div:not(:last-of-type) {
      margin-right: 20px;
      @include respond(phone) {
        margin-right: 0;
      }
    }
    & .v-select.selector {
      width: 100%;
    }
  }
}
