$color-primary: #af1e65;
$color-primary-darken: #530d32;
$color-secondary: #007fb0;
$color-accent: #07495e;
$color-gray-regular: #ccc;

$shadow-regular: 0 2px 5px $color-gray-regular;
$shadow-spreaded: 0 1px 10px $color-gray-regular;

$border-radius: 4px;

$nav-height: 60px;

$font-size-small: 12px;
